{% extends "base.html" %}
{% load static %}

<!-- additional page title section -->
{% block extra_title %}
- shopping bag
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- css class to cover over the body background image -->
    <div class="overlay"></div>
    
    <div class="container mb-2">
        <!-- shopping bag heading -->
        <div class="row">
            <div class="col">
                <hr>
                <!-- logo-font just makes uppercase (see base.css) -->
                <h2 class="logo-font mb-4">
                    Shopping Bag
                </h2>
                <hr>
            </div>
        </div>

        <!-- table of bag contents -->
        <div class="row">
            <div class="col">
                <!-- if the bag contains anything -->
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <!-- getting the bag_items var from the contexts file -->

                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <!-- product info takes two cols -->
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            <!-- iterating through all items to popultae each table row -->
                            {% for item in bag_items %}
                                <tr>
                                    <!-- product image -->
                                    <td class="p-3 w-25">
                                        <a class="text-black text-decoration-none" href="{% url 'product_details' item.item_id %}">
                                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                        </a>
                                    </td>
                                    <!-- product name and sku -->
                                    <td class="py-3">
                                        <a class="text-black text-decoration-none" href="{% url 'product_details' item.item_id %}">
                                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        </a>
                                    </td>

                                    <!-- product price -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <!-- product quantity -->
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group input-group-{{ item.item_id }}">
                                                    <!-- prepended minus button -->
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }}" 
                                                            data-item_id="{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- the value for quantity, 1 by default/min, max can be a db field or any int -->
                                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}">
                                                    <!-- appended plus button -->
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }}"
                                                            data-item_id="{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- update button controlled by JS to submit form -->
                                        <a role="button" class="update-link text-info text-decoration-none"><i class="fa-solid fa-money-bill fa-sm text-info"></i> <small>Update</small></a>
                                        <!-- remove button -->
                                        <a role="button" id="remove_{{ item.item_id }}" class="remove-item text-danger float-right text-decoration-none"><i class="fa-solid fa-trash-can fa-sm text-danger"></i> <small>Remove</small></a>
                                    </td>
                                    <!-- subtotal - USING PRICE FOR NOW -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.sub_total }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- bag costs/total/free_delivery_threshold row -->
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6>
                                        <strong>Bag Total: ${{ total|floatformat:2 }}</strong>
                                    </h6>
                                    <h6>
                                        Delivery: ${{ delivery|floatformat:2 }}
                                    </h6>
                                    <h4 class="mt-4">
                                        <strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong>
                                    </h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            Spend just <strong>${{ free_delivery_delta }}</strong> more to get free delivery!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <!-- row for buttons -->
                            <tr>
                                <td colspan="5" class="text-right">
                                    <!-- continue shopping button -->
                                    <a role="button" href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fa-solid fa-angle-left"></i>
                                        </span>
                                        <span class="text-uppercase">Continue shopping</span>
                                    </a>
                                    <!-- button to secure checkout -->
                                    <a role="button" href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </div>
                {% else %}
                    <!-- link back to products -->
                    <p class="lead mb-5">There are no items in your bag.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <!-- not actually using this icon style probably -->
                        <span class="icon">
                            <i class="fa-solid fa-angle-left"></i>
                        </span>
                        <span>Return to the collection</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
<!-- JS for handling the quantity +/- buttons -->
{% include 'products/includes/quantity_input_script.html' %}

<!-- JS for handling the update and remove buttons and form submission -->
<script type="text/javascript">
    // click event listener for updating the quantity
    // calls the form by its class '.update-form' and stores it in a var and then calls the submit function on it
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // click event listener for removing the item
    $('.remove-item').click(function(e) {
        // csrf_token as a str var
        var csrfToken = "{{ csrf_token }}";
        // getting second part of 'this' which is the item's id
        var itemId = $(this).attr('id').split('remove_')[1];
        // URL TO BE CREATED IN FUTURE
        var url = `/bag/remove/${itemId}/`;
        // data obj to send to server
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        // posting to the server
        $.post(url, data)
         .done(function() {
            location.reload();
         });
    })
</script>
{% endblock %}