{% extends "base.html" %}
{% load static %}

<!-- additional page title section -->
{% block extra_title %}
- shopping bag
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- css class to cover over the body background image -->
    <div class="overlay"></div>
    
    <div class="container mb-2">
        <!-- shopping bag heading -->
        <div class="row">
            <div class="col">
                <hr>
                <!-- logo-font just makes uppercase (see base.css) -->
                <h2 class="logo-font mb-4">
                    Shopping Bag
                </h2>
                <hr>
            </div>
        </div>

        <!-- table of bag contents -->
        <div class="row">
            <div class="col">
                <!-- if the bag contains anything -->
                {% if bag_items %}
                    <!-- grid layout for upto md screens -->
                    <div class="d-block d-md-none">
                        <div class="row">
                            <!-- bag total -->
                            <div class="col-12">
                                {% include 'bag/includes/bag-total.html' %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- checkout and keep shopping buttons -->
                            <div class="col-12">
                                {% include 'bag/includes/checkout-buttons.html' %}
                                <p class="ext-muted my-4">
                                    Below is a summary of your bag items
                                </p>
                            </div>
                        </div>
                        <!-- iterating through the times to create a row for each -->
                        {% for item in bag_items %}
                            <div class="row">
                                <!-- product image -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include 'bag/includes/product-image.html' %}
                                </div>
                                <!-- product info -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include 'bag/includes/product-info.html' %}
                                </div>
                                <!-- price and subtotal -->
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price each: ${{ item.product.price }}</p>
                                    <p class="my-0"><strong>Subtotal: </strong>${{ item.sub_total }}</p>
                                </div>
                                <!-- quantity form -->
                                <div class="col-12 col-sm-6">
                                    {% include 'bag/includes/quantity-form.html' %}
                                </div>
                            </div>
                            <!-- hr to separate each product -->
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- back to page top button -->
                        <div class="btt-button shadow-sm rounded-0 border border-black">
                            <a class="btt-link d-flex h-100" href="#">
                                <i class="fa-solid fa-angles-up text-black mx-auto my-auto"></i>
                            </a>
                        </div>
                    </div>
                    
                    <!-- table format for md and above screens -->
                    <div class="table-responsive rounded d-none d-md-block">
                        <!-- getting the bag_items var from the contexts file -->

                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <!-- product info takes two cols -->
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            <!-- iterating through all items to popultae each table row -->
                            {% for item in bag_items %}
                                <tr>
                                    <!-- product image -->
                                    <td class="p-3 w-25">
                                        {% include 'bag/includes/product-image.html' %}  
                                    </td>
                                    <!-- product name and sku -->
                                    <td class="py-3">
                                        {% include 'bag/includes/product-info.html' %} 
                                    </td>

                                    <!-- product price -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <!-- product quantity form -->
                                    <td class="py-3 w-25">

                                        {% include 'bag/includes/quantity-form.html' %} 

                                    </td>
                                    <!-- subtotal - USING PRICE FOR NOW -->
                                    <td class="py-3">
                                        <p class="my-0">${{ item.sub_total }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- bag costs/total/free_delivery_threshold row -->
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include 'bag/includes/bag-total.html' %}
                                </td>
                            </tr>
                            <!-- row for buttons -->
                            <tr>
                                <td colspan="5" class="text-right">
                                    <!-- continue shopping button -->
                                    <!-- button to secure checkout -->
                                    {% include 'bag/includes/checkout-buttons.html' %}
                                </td>
                            </tr>
                        </table>

                    </div>
                {% else %}
                    <!-- link back to products -->
                    <p class="lead mb-5">There are no items in your bag.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <!-- not actually using this icon style probably -->
                        <span class="icon">
                            <i class="fa-solid fa-angle-left"></i>
                        </span>
                        <span>Return to the collection</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postload_js %}
{{ block.super }}

<!-- for back to top button -->
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

<!-- JS for handling the quantity +/- buttons -->
{% include 'products/includes/quantity_input_script.html' %}

<!-- JS for handling the update and remove buttons and form submission -->
<script type="text/javascript">
    // click event listener for updating the quantity
    // calls the form by its class '.update-form' and stores it in a var and then calls the submit function on it
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // click event listener for removing the item
    $('.remove-item').click(function(e) {
        // csrf_token as a str var
        var csrfToken = "{{ csrf_token }}";
        // getting second part of 'this' which is the item's id
        var itemId = $(this).attr('id').split('remove_')[1];
        // URL TO BE CREATED IN FUTURE
        var url = `/bag/remove/${itemId}/`;
        // data obj to send to server
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        // posting to the server
        $.post(url, data)
         .done(function() {
            location.reload();
         });
    })
</script>
{% endblock %}