{% extends "base.html" %}
{% load static %}

<!-- for all the custom css for this page including base.css -->
{% block extra_css %}
    {{ block.super }}
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white text-transparent-bg px-2">New instruments and musical equipment have arrived</h1>
                <div class="my-5">
                    <!-- link designed as a button for shop now -->
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3" role="button">Shop Now!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <!-- footer with facebook buisness link and email subscription -->
    <footer class="container footer-container w-100 m-0 p-0 bg-footer--white">
        <div class="row">
            <!-- link to fb buiness page -->
            <div class="col-12 col-md-6 text-center mt-2">
                <h5 class="font-weight-bold">Social</h5>
                <p class="small mb-0">Keep up to date with all our latest offers</p>
                <a href="https://www.facebook.com/Re-love-Music-110813378357660" target="_blank" class="small"><i class="small fab fa-facebook-square"></i> Follow us on Facebook!</a>
            </div>
            <!-- subscribing to emails -->
            <div class="col-12 col-md-6 p-0 text-center mt-2">

                <!-- Mailchimp signup form here -->
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=93f8ebdd5a6d46d95230fe2f4&amp;id=a930f0ca78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h5 class="font-weight-bold">Subscribe</h5>
                            <p class="small mb-0">Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                            <div class="indicates-required">
                                <span class="asterisk">*</span> indicates required
                            </div>
                            <div class="mc-field-group">
	                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                </label>
	                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
	                        <div id="mce-responses" class="clear foot">
		                        <div class="response" id="mce-error-response" style="display:none"></div>
		                        <div class="response" id="mce-success-response" style="display:none"></div>
	                        </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_93f8ebdd5a6d46d95230fe2f4_a930f0ca78" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    <p class="brandingLogo"><a href="http://eepurl.com/h6esTX" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- privacy policy -->
            <div class="col-12 text-center">
                <a class="text-black" href="https://www.privacypolicygenerator.info/live.php?token=7D4ymxDmkmS03spzXwuwZYRYLFJf4s0B" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </footer>

{% endblock %}

<!-- mailchimp js -->
{% block postload_js %}
    {{ block.super }}
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
        (function($) {
            window.fnames = new Array(); window.ftypes = new Array();
            fnames[0]='EMAIL';
            ftypes[0]='email';
            fnames[1]='FNAME';
            ftypes[1]='text';
            fnames[2]='LNAME';
            ftypes[2]='text';
            fnames[3]='ADDRESS';
            ftypes[3]='address';
            fnames[4]='PHONE';
            ftypes[4]='phone';
            fnames[5]='BIRTHDAY';
            ftypes[5]='birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
{% endblock %}