{% extends "base.html" %}
{% load static %}

<!-- additional page title section -->
{% block extra_title %}
- profile
{% endblock %}

<!-- for all the custom css for this page -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- css class to cover over the body background image -->
    <div class="overlay"></div>
    
    <!-- main checkout info and functionality -->
    <div class="container">
        <!-- shopping bag heading -->
        <div class="row">
            <div class="col">
                <hr>
                <!-- logo-font just makes uppercase (see base.css) -->
                <h2 class="logo-font mb-4">
                    My Profile
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted font-weight-bold">Default Delivery Information</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            {% if orders %}
            <div class="col-12 col-lg-6">
                <p class="text-muted font-weight-bold">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <!-- order number is a link to the full details -->
                                    <td>
                                        <!-- link to the order_history url to be created, being passed order_number -->
                                        <!-- title => what you can see when you hover over it -->
                                        <!-- use truncatechars filter to only display a certain number of characters -->
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <!-- order date -->
                                    <td>{{ order.date }}</td>
                                    <!-- unordered list of the items from the order -->
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.orderitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <!-- grand total of the order -->
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="col-12 col-lg-6">
                <p class="text-muted font-weight-bold">Order History</p>
                <p class="text-muted">
                    No orders placed yet
                </p>
            </div>
            {% endif %}
        </div>
{% endblock %}


{% block postload_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}