{% extends "base.html" %}
{% load static %}

<!-- additional page title section -->
{% block extra_title %}
- checkout
{% endblock %}

<!-- for all the custom css for this page -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- css class to cover over the body background image -->
    <div class="overlay"></div>
    
    <div class="container">
        <!-- shopping bag heading -->
        <div class="row">
            <div class="col">
                <hr>
                <!-- logo-font just makes uppercase (see base.css) -->
                <h2 class="logo-font mb-4">
                    Checkout
                </h2>
                <hr>
            </div>
        </div>

        <!-- table of bag contents -->
        <div class="row">
            <!-- order summary -->
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <!-- order summary header -->
                <p class="text-muted">Order Summary ({{ product_count }} items)</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                <!-- looping through each item (from context processor) -->
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-2 mb-1">
                            <!-- clickable image link to product details  -->
                            <a href="{% url 'product_details' item.product.id %}">
                                {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }} image">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }} image">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <!-- info about the product -->
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <!-- item subtotal -->
                            <p class="my-0 small text-muted">${{ item.sub_total }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0">
                <!-- totals section -->
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0">${{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Complete the form below to complete your order</p>
                <form method="POST" id="payment-form" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <!-- rendering as 3 individual formsets for more customisability -->
                    <fieldset class="rounded px-3 mb-5">
                        <!-- user's details -->
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <!-- user's delivery info -->
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address_1 | as_crispy_field }}
                        {{ order_form.street_address_2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}

                        <!-- inline checkbox option to save details to profile or option to create an account or login -->
                        <div class="form-check form-check-inline float-right mr-0">
                            <!-- pre-checked option to save infor if logged in -->
                            {% if user.is_authenticated %}
                                <label for="id-save-info" class="form-check-label">Save delivery info to my profile</label>
                                <input type="checkbox" class="form-check-input ml-2 mr-0" id="id-save-info" name="save-info" checked>
                                <!-- option to log in or register -->
                            {% else %}
                                <label for="id-save-info" class="form-check-label">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create account</a>
                                    or
                                    <a class="text-info" href="{% url 'account_login' %}">Login</a> to save delivery info
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="px-3">
                        <!-- user's payment info -->
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- TO BE POPULATED WITH STRIPE PAYMENT FUNCTIONALITY -->
                        <!-- div for all card details -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- div for displaying any form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>

                    <!-- form submit button -->
                    <div class="submit-button text-right mt-5 mb-2">
                        <!-- back to bag button to make adjustments -->
                        <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0" role="button">
                            <span>
                                <i class="fa-solid fa-angle-left"></i>
                            </span>
                            <span class="font-weight-bold">Back to Bag</span>
                        </a>
                        <!-- submit button with id that JS can access to submit the form -->
                        <button id="payment-submit-button" class="btn btn-black rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                            <span>
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <!-- notification of card going to be charged -->
                        <p class="small text-danger my-0">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>
                                Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong>
                            </span>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
