<!-- 
    seperate html snippet for collapsable navbar to prevent base.html becoming too cluttered
-->

<!-- collapsable navbar for shrinking to burger icon on mobile screens -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- home button only for mobile view -->
        <li class="nav-item d-block d-md-none">
            <a href="{% url 'home' %}" id="home-link" class="logo-font font-weight-bold nav-link text-black mr-5">
                Home
            </a>
        </li>

        <!-- All Products dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <!-- adding specific sorting parameters to these links -->
                <!-- using sort to sort by 'price' field, and direction set to ascending -->
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Instruments dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="instruments-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instruments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="instruments-link">
                <!-- after the url path the ? indicates a category is going to be provided -->
                <a href="{% url 'products' %}?category=pianos_keyboards" class="dropdown-item">Pianos &amp; Keyboards</a>
                <a href="{% url 'products' %}?category=stringed_instruments" class="dropdown-item">Stringed Instruments</a>
                <a href="{% url 'products' %}?category=drums_purcussion" class="dropdown-item">Drums &amp; Purcussion</a>
                <a href="{% url 'products' %}?category=pianos_keyboards,stringed_instruments,drums_purcussion" class="dropdown-item">All Instruments</a>
            </div>
        </li>

        <!-- Music Equipment dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="music-equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Music Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="music-equipment-link">
                <a href="{% url 'products' %}?category=microphones" class="dropdown-item">Microphones</a>
                <a href="{% url 'products' %}?category=mixing_desks_headphones" class="dropdown-item">Mixing Desks</a>
                <a href="{% url 'products' %}?category=audio_interfaces" class="dropdown-item">Audio Interfaces</a>
                <a href="{% url 'products' %}?category=amplifiers" class="dropdown-item">Amplifiers</a>
                <a href="{% url 'products' %}?category=cables_adapters" class="dropdown-item">Cables &amp; Adapters</a>
                <a href="{% url 'products' %}?category=microphones,mixing_desks_headphones,audio_interfaces,amplifiers,cables_adapters" class="dropdown-item">All Equipment</a>
            </div>
        </li>

        <!-- Special Offers dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
    </ul>
</div>