<!-- continue shopping button -->
<a role="button" href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <span class="icon">
        <i class="fa-solid fa-angle-left"></i>
    </span>
    <span class="text-uppercase">Continue shopping</span>
</a>
<!-- button to secure checkout -->
<a role="button" href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>